<!-- <div class="container">
  <div class="inner-div">
      <div>
        <input class="first-input" type="text" id="name" [(ngModel)]="name">
      </div>

    <div>
      <input type="text" id="password" [(ngModel)]="password">
    </div>
    <div >
     <button (click)="submitForm()">Submit</button>
    </div>  
  </div>

</div> -->


  <div class="container">
   <div class="inner-div">
      <h2>Registration Form</h2>
      <div class="form-group">
        <label for="username">UserName:</label>
        <input class="first-input" type="text" id="username" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" id="password" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <button (click)="submitForm()">Submit</button>
      </div>
      <div class="forgot-password">
        <a href="#">Forgot Password?</a>
      </div>
    </div>
      
  </div>

