.containers {
   
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/23/c3/dc/23c3dcab256e90153c4d03ea769ff571.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .navbar {
    background-color: #77cfdb;
    padding: 20px;

  }
  
  .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  .navbar-buttons {
    float: right;
  }
  
  .navbar-button {
    margin: -7px 9px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .navbar-button:hover {
    background-color: #0056b3;
  }
  