
<div class="containers">
    <nav class="navbar">
      <a class="navbar-brand" href="#">Logo</a>
      <div class="navbar-buttons">
        <button (click)="homepage()" class="navbar-button">Home</button>
        
      </div>
    </nav>
    <div class="card-container">
      <div class="card" *ngFor="let card of cards">
          <h3 class="card-title">{{card.fullname}}</h3>
          <p class="card-content">{{card.password}}</p>
          <p class="card-content">{{card.email}}</p>
          <p class="card-content">{{card.mobile}}</p>
          <div class="card-buttons">
            <button class="card-button edit-button">Edit</button>
            <button class="card-button delete-button">Delete</button>  
            
            
            <!-- (click)="deleteCard(card._id) -->
          </div>
        </div>
      </div>
      
      
        <!-- Add more cards as needed -->
      
      
 </div>

